{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "MovieContext": "Server=localhost;User Id={{ mysql_user }};Password={{ mysql_user_password }};Database={{ mysql_db_name }}"
  }
}